package ${package.Mapper};

###if(${global.isPage})
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
###end
import org.apache.ibatis.annotations.Param;
import org.apache.ibatis.annotations.Select;
import java.util.List;
import java.util.Map;
import com.everglow.accounting.modules.entity.${entity};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
#if(${global.isPage} || ${global.isExportExcel})
##import com.smac.modules.vo.${entity}Vo;
import org.apache.ibatis.annotations.Param;
import java.util.Map;
#end
/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends BaseMapper<${entity}>{
##interface ${table.mapperName} : ${superMapperClass}<${entity}>{
##    #if(${global.isPage})

    /**
     *  分页查询
     */
    IPage<${entity}> page(Page<${entity}> page,@Param("params")  Map<String, Object> params);
##    #end
    #if(${global.isExportExcel})

	/**
     *  查询
     */
	List<Map> list(@Param("params")  Map<String, Object> params);
    #end

    #if(${table.mapperName} == "UserMapper")

	/**
     *  根据用户id获取权限
     */
	@Select("SELECT sr.identification FROM sys_resources sr "
			+ "LEFT JOIN tran_role_resources trr ON trr.resources_id = sr.id "
			+" LEFT JOIN tran_user_role tur ON trr.role_id = tur.role_id"
			+ "where and tur.user_id = #{userId}"
	)
	List<String> getResourcesByUserId(@Param("userId") String userId);
    #end


}
#end
