package ${package.Service};


###if(${global.isPage})
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import java.util.Map;
import com.everglow.accounting.modules.entity.${entity};
import com.baomidou.mybatisplus.extension.service.IService;
###end
#if(${global.isAddOrUpdate} || ${global.isDetail})
##import com.smac.modules.vo.${entity}DetailVo;
#end
#if(${global.isPage} || ${global.isExportExcel})
##import com.smac.modules.vo.${entity}Vo;
import java.util.Map;
#end
#if(${global.isExportExcel})
import java.util.List;
#end
/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
##public interface ${table.serviceName}{
##    #if(${global.isPage})
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {
	/**
     *  查询(分页)
     */
    IPage<${entity}> page(Page page, Map<String, Object> params);
##    #end

    #if(${global.isExportExcel})

    /**
     *  查询
     */
    List<Map> list(Map<String, Object> params);
    #end

    #if(${global.isDetail})

    /**
     *  详情
     */
    ${entity}DetailVo get(String id);
    #end

    #if(${global.isAddOrUpdate})

    /**
     *  创建/修改
     */
    void addOrUpdate(${entity}DetailVo ${table.entityPath}DetailVo);
    #end

}
#end
