<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.everglow.accounting.modules.mapper.NotSpendingBaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.everglow.accounting.modules.entity.NotSpending">
        <result column="id" property="id" />
        <result column="incident" property="incident" />
        <result column="incident_number" property="incidentNumber" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        incident, incident_number, create_time, update_time
    </sql>

</mapper>
