<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.everglow.accounting.modules.mapper.UnitBaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.everglow.accounting.modules.entity.Unit">
        <result column="id" property="id" />
        <result column="unit_name" property="unitName" />
        <result column="unit_number" property="unitNumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        unit_name, unit_number
    </sql>

</mapper>
